.page {
    background: #F0F5F0;
    padding: 32px 0;
}

.breadcrumb {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #999;
    margin-bottom: 24px;
}

.breadcrumb b {
    color: #213547;
}

.layout {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 32px;
    padding: 0 20px;
}

.left {
    padding: 24px;
}

.right {
    padding: 24px;
    border: 2px solid #213547;
}

.coupon {
    display: flex;
    margin-bottom: 20px;
}

.coupon input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.coupon button {
    background: #214738;
    color: #fff;
    border: none;
    padding: 0 18px;
    cursor: pointer;
    border-radius: 0px;
}

.sectionTitle {
    font-size: 18px;
    margin-bottom: 16px;
    color: #214738;
}

.formGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.formGrid input,
.formGrid select {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.full {
    grid-column: span 2;
}

.subTitle {
    margin: 24px 0 12px;
}

.option {
    display: flex;
    gap: 10px;
    margin-bottom: 14px;
    cursor: pointer;
}

.option p {
    margin: 4px 0 0;
    font-size: 13px;
    color: #666;
}

.note {
    width: 98%;
    min-height: 80px;
    margin-top: 12px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.summary {
    border: 2px dashed #213547;
    padding: 16px;
    margin-bottom: 16px;
    background: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.rowDiscount {
    display: flex;
    justify-content: space-between;
    color: #3B823E;
    font-size: 14px;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
}

.payment label {
    display: block;
    margin-bottom: 10px;
}

.agree {
    display: flex;
    gap: 8px;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
}

.orderBtn {
    width: 100%;
    padding: 14px;
    background: #3B823E;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.orderBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.freeshipInfo {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
    color: #333;
}

.freeshipInfo h4 {
    margin-bottom: 8px;
    font-size: 16px;
}

.freeshipInfo ul {
    padding-left: 18px;
    margin-bottom: 12px;
}

.freeshipInfo li {
    margin-bottom: 6px;
}

.privacy {
    font-size: 12px;
    color: #666;
}

.privacy a {
    color: #3B823E;
    text-decoration: underline;
}
.privacy a:hover {
    color: #336F38
}