body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding: 0px;
    min-width: 1200px;
    background-color: #f4fbf6;
}
/*1.BANNER*/
.banner {
    width: 100%;
}
.imgbanner {
    width: 100%;
    height: auto;
}
/*2.*/
.wrapper {
    display: flex;
    gap: 50px;
    padding: 24px;
}

.content {
    flex: 1;
}
.productListTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #3b823e;
}

.empty {
    font-size: 1.2rem;
    color: #3b823e;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.comboGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

